<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /AdvancedPhp_namespaces_and_uses/

    # Redirect all requests to index.php except existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
